@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: 1px solid red; */
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
input {
  transition: border-color 0.3s ease;
}

@layer components {
  .about-hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../src/assets/images/about-page-images/hero-section-bg.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    min-width: 100%;
    min-width: 100vw;
  }
  .signup-form-background {
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("../src/assets/images/recycling-selection-image.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 360px) and (max-width: 450px) {
  div.homecards {
    margin-top: 5rem;
  }
}
@media screen and (min-width: 450px) and (max-width: 600px) {
  div.homecards {
    margin-top: 10rem;
  }
}
@media screen and (min-width: 550px) and (max-width: 600px) {
  div.homecards {
    margin-top: 12rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 789px) {
  div.homecards {
    padding-top: 0rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 790px) {
  div.homecards {
    margin-top: 13rem;
  }
}
